#### 1. Create a database in SQLite with name "FilmBoard".

In [1]:
import sqlite3
db=sqlite3.connect('FB_Data')
db.close()

#### 2. Create the table inside this database with Name „Actors‟ with following column names.
####  Name (Text)
####  Surname (Text)
####  Age (Integer)
####  Gender (Text)
####  MovieName (Text)
####  Rank (Integer)

In [12]:
import sqlite3
db=sqlite3.connect('FB_Data')

cur=db.cursor()           # Get cursor object

# Drop table if it already exist using execute() method.
if cur.execute("DROP TABLE IF EXISTS actors"):
    print('Drop Command Executed Successfully ')

# Create Table
if cur.execute("CREATE TABLE actors(name TEXT, surname TEXT, age INTEGER, gender TEXT, moviename TEXT, rank INTEGER)"):
    print('Table Created in Film Board Database')


db.commit()
cur.close()

db.close()

Drop Command Executed Successfully
Table Created in Film Board Database

#### 3. Enter the following data in to the table.(you may use executemany())
#### Amitabh, Bachan, 75,M,101 Not Out , 1
#### Akshay, Kumar, 50,M,Dhanchand , 2
#### Hrithk,Roshan, 42,M,Krrish 2 , 3
#### Salmaan,Khan, 50,M,Race 3 ,6
#### Alia, Bhat, 25,F,Gazzi ,4
#### Madhuri,Dixit, 45,F,Buket List , 5
#### Saharukh, Khan, 45,M,Raees , 7
#### Sunil, Shetti, 45,M,Rakshak , 10

In [20]:
## Insert ##
db=sqlite3.connect('FB_Data')

# Get Cursor Object
cur=db.cursor()

opt=input('Press "y" to add Actor in DataBase :')

while(opt=='y' or opt=='Y'):
    name1=input("Enter Actor Name :")
    surname1=input("Enter Actor Surname :")
    age1=int(input("Enter Actor Age :"))
    gender1=input("Enter Actor Gender :")
    moviename1=input("Enter Actor Name :")
    rank1=int(input("Enter Actor rank :"))
    if cur.execute("INSERT INTO actors(name,surname,age,gender,moviename,rank) VALUES(?,?,?,?,?,?)",(name1,surname1,age1,gender1,moviename1,rank1)):
        print('************ Record Inserted Successfully **************')
        opt=input('Press "y" to enter more actor or press any other key: ')
    
    
db.commit()
cur.close()

db.close()

Press "y" to add Actor in DataBase :y
Enter Actor Name :Akshay
Enter Actor Surname :Kumar
Enter Actor Age :50
Enter Actor Gender :M
Enter Actor Name :Dhyanchand
Enter Actor rank :2
************ Record Inserted Successfully **************
Press "y" to enter more actor or press any other key: m

#### 4. Now write a full program which will run continuously with following options
#### #########################
#### a) Display all details of all actors/actress in FlimBoard
#### b) Insert new Actor/Actress into Film Board
#### c) Delete any existing actor/actress from FilmBoard by name.
#### d) Update the Rank of any actor/actress by passing the name.
#### e) Update the Movie Name of any actor/actress by passing the surname.
#### f) Write the all table Data to backup.txt file.
#### g) Exit
#### #########################
#### Enter your Option: _ _
#### #########################

In [2]:
import sqlite3
import time
db=sqlite3.connect('FB_Data')
cur=db.cursor()
def display():
    if cur.execute("SELECT name,surname,age,gender,moviename,rank from actors"):
        print('*************** Film Board Members******************')
    
    recordsall=cur.fetchall()
    print("---------------------------------------------------------------------------------------------")
    for record in recordsall:
        print(' Actor Name: {0}\n Actor Surname: {1}\n Actor Age: {2}\n Actor Gender: {3}\n Actor Movie Name: {4}\n Actor Ranking: {5}\n'.format(record[0],record[1],record[2],record[3],record[4],record[5]))
        print("---------------------------------------------------------------------------------------------")
    option() 
    
def insert():
    name1=input("Enter Actor Name :")
    surname1=input("Enter Actor Surname :")
    age1=int(input("Enter Actor Age :"))
    gender1=input("Enter Actor Gender :")
    moviename1=input("Enter Actor Movie Name :")
    rank1=int(input("Enter Actor rank :"))
    if cur.execute("INSERT INTO actors(name,surname,age,gender,moviename,rank) VALUES(?,?,?,?,?,?)",(name1,surname1,age1,gender1,moviename1,rank1)):
        print('************ Record Inserted Successfully **************')
    option()  
    
def delete():
    dname=input("Enter Actor Name which you want to Delete from Film Board : ")
    if cur.execute("DELETE FROM actors WHERE name=?",(dname,)):
        print("************* Record Deleted Successfully *****************")
    option() 
        
def updateR():
    uname=input("Enter Name of Actor who's rank you want to update")
    urank=input("Enter New rank: ")
    if cur.execute("UPDATE actors SET rank=? WHERE name=?",(urank,uname)):
        print("********** Record Updated Successfully ************* ")        
    option() 
        
def updateM():
    usurname=input("Enter Name of Actor who's rank you want to update")
    umovie=input("Enter New Movie Name: ")
    if cur.execute("UPDATE actors SET moviename=? WHERE surname=?",(umovie,usurname)):
        print("********** Record Updated Successfully ************* ") 

def exit():
    print("*********** Thank You..! Good Bye...! ***************")
    db.commit()
    cur.close()
    db.close()

def option():
    print("************************ CHOOSE YOUR OPTION *********************************************")
    print("1.Display Film Board \n2.Insert Actor in Film Board \n3.Delete Actor from film Board by Name \n4.Update Rank of Film Actor by Name \n5.Update Movie name of Actor by Surname \n6.Take DataBase BackUp \n7.Exit")
    print("***********************************************************************************************************")
    soption=int(input("Enter Your Option : "))
    
    if(soption==1):
        display()
    elif(soption==2):
        insert()
    elif(soption==3):
        delete()
    elif(soption==4):
        updateR()
    elif(soption==5):
        updateM()
    elif(soption==7):
        exit()
    else:
        print("Sorry You have Entered Invalid Option Wait for a while and Enter Option again:")
        time.sleep(5)
        option()

    
option()

************************ CHOOSE YOUR OPTION *********************************************
1.Display Film Board
2.Insert Actor in Film Board
3.Delete Actor from film Board by Name
4.Update Rank of Film Actor by Name
5.Update Movie name of Actor by Surname
6.Take DataBase BackUp
7.Exit
***********************************************************************************************************
Enter Your Option : 1
*************** Film Board Members******************
---------------------------------------------------------------------------------------------
 Actor Name: Amitabh
 Actor Surname: Bachan
 Actor Age: 75
 Actor Gender: M
 Actor Movie Name: 101 Not Out
 Actor Ranking: 1

---------------------------------------------------------------------------------------------
 Actor Name: Akshay
 Actor Surname: Kumar
 Actor Age: 50
 Actor Gender: M
 Actor Movie Name: Gold
 Actor Ranking: 2

---------------------------------------------------------------------------------------------
 Actor Name: Hritik
 Actor Surname: Roshan
 Actor Age: 42
 Actor Gender: M
 Actor Movie Name: Krish2
 Actor Ranking: 7

---------------------------------------------------------------------------------------------
************************ CHOOSE YOUR OPTION *********************************************
1.Display Film Board
2.Insert Actor in Film Board
3.Delete Actor from film Board by Name
4.Update Rank of Film Actor by Name
5.Update Movie name of Actor by Surname
6.Take DataBase BackUp
7.Exit
***********************************************************************************************************
Enter Your Option : 2
Enter Actor Name :Roshan
Enter Actor Surname :Joge
Enter Actor Age :27
Enter Actor Gender :M
Enter Actor Movie Name :PubG
Enter Actor rank :1
************ Record Inserted Successfully **************
************************ CHOOSE YOUR OPTION *********************************************
1.Display Film Board
2.Insert Actor in Film Board
3.Delete Actor from film Board by Name
4.Update Rank of Film Actor by Name
5.Update Movie name of Actor by Surname
6.Take DataBase BackUp
7.Exit
***********************************************************************************************************
Enter Your Option : 4
Enter Name of Actor who's rank you want to updateRoshan
Enter New rank: 2
********** Record Updated Successfully *************
************************ CHOOSE YOUR OPTION *********************************************
1.Display Film Board
2.Insert Actor in Film Board
3.Delete Actor from film Board by Name
4.Update Rank of Film Actor by Name
5.Update Movie name of Actor by Surname
6.Take DataBase BackUp
7.Exit
***********************************************************************************************************
Enter Your Option : 1
*************** Film Board Members******************
---------------------------------------------------------------------------------------------
 Actor Name: Amitabh
 Actor Surname: Bachan
 Actor Age: 75
 Actor Gender: M
 Actor Movie Name: 101 Not Out
 Actor Ranking: 1

---------------------------------------------------------------------------------------------
 Actor Name: Akshay
 Actor Surname: Kumar
 Actor Age: 50
 Actor Gender: M
 Actor Movie Name: Gold
 Actor Ranking: 2

---------------------------------------------------------------------------------------------
 Actor Name: Hritik
 Actor Surname: Roshan
 Actor Age: 42
 Actor Gender: M
 Actor Movie Name: Krish2
 Actor Ranking: 7

---------------------------------------------------------------------------------------------
 Actor Name: Roshan
 Actor Surname: Joge
 Actor Age: 27
 Actor Gender: M
 Actor Movie Name: PubG
 Actor Ranking: 2

---------------------------------------------------------------------------------------------
************************ CHOOSE YOUR OPTION *********************************************
1.Display Film Board
2.Insert Actor in Film Board
3.Delete Actor from film Board by Name
4.Update Rank of Film Actor by Name
5.Update Movie name of Actor by Surname
6.Take DataBase BackUp
7.Exit
***********************************************************************************************************
Enter Your Option : 7
*********** Thank You..! Good Bye...! ***************